body{
    background-color: rgb(189, 236, 255);
    font-family: "Super Mario 256", sans-serif;
}

h1{
    font-size: 3.5rem;
}

p{
    font-size: 10px;
}

.tile-image{
    width: 300px;
    border: 5px solid black;
    float: left;
    margin-right: 10px;
}

.card{
    display: inline-block;
    width: 45%;
}

.left{
   
}

@media (max-width: 600px) {
    h1{
        text-align: center;
    }

    .card img{
        display: block;
    }

    body{
        background-color: blue;
    }
    
}